
{% extends "rango/base.html" %}
{% load staticfiles %} <!-- New line -->


    {% block title_block %}
        About Rango
    {% endblock %}

{% block body_block %}

    <h1>Rango says...</h1>
    <p>
        Visits: {{ visits }}
    </p>

    <div>
        here is the about page. <br />
        <strong> This tutorial has been put together by James. </strong>
    </div>
    <div>
        <a href="{% url 'rango:index' %}">

        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /> 
 

    </div>
    <div>
        <img src="/media/cat.jpg" alt="Picture of a Cat" /> 


    </div>

    {% endblock %}



